<div class="container">
<div class="row">
<div class="col-md-12">
<h1> Blog is coming soon! </h1>
<h5>Blog about technical musings and sports ramblings is in development.</h5>
</div>
</div>
</div>

<style>
h1, h5  {
  font-family: 'brandon-grotesque';
  text-align:center;
}
</style>