<div class="row">
  <div class="col-md-12 header">
    <header>
        <h1 title="Jeffrey Kao" class="name">JEFFREY KAO</h1>
         <nav class="menu">
          <a href="#info" title="Info">Info</a>
          <a href="#work" title="Portfolio">Work</a>
          <a href="#contact" title="Contact">Contact</a>
        </nav>
        <h1>高</h1>
        <h1>鼎</h1>
        <h1>盛</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-6 info" id="info">
    <h1>Info</h1>
    <p class="prox">I am full stack web developer. I enjoy making great websites from end to end!</p>
    <p class="prox">My skillset includes:</p>
      <ul class="tools">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Javascript / jQuery / AJAX</li>
        <li>Ruby / Ruby on Rails</li>
        <li>Python / Django</li>
        <li>Postgres / MySQL</li>
        <li>git version control</li>
        <li>SEO / Social Media Management</li>
      </ul>
  </div>
  <div class="col-md-6 info">
    <%= image_tag("pro.jpg", class: "picture") %>
  </div>
</div>


<div class="row">
  <div class="col-md-12 contact" id="contact">
    <h1>Contact</h1>
    <a href="mailto:jeffthestampede@gmail.com"><i class="icon-envelope icon-2x"></i></a>
    <a href="http://www.twitter.com/jeffthestampede" rel="external"><i class="icon-twitter icon-2x"></i></a>
    <a href="http://www.linkedin.com/pub/jeffrey-kao/66/493/707" rel="external"><i class="icon-linkedin icon-2x"></i></a>
    <a href="https://github.com/jeffthestampede" rel="external"><i class="icon-github icon-2x"></i></a>
  </div>
</div>

<div id="footer">
  <div class="row">
    <div class="col-md-12">
      <p>&copy; Copyright 2013 Jeffrey Kao</p>
    </div>
  </div>
</div>