@font-face {
  font-family: 'brandon-grotesque';
  src: font-url('Brandon_bld.otf');
}

@font-face {
  font-family: 'proxima-nova';
  src: font-url('ProximaNovaCond-Light.otf');
}

/*Header Page*/
.header {
  position: relative;
}

@media (min-width: 999px) {
  .header {
    position: fixed;
  }
}

.name {
  font-family: 'brandon-grotesque';
  font-size: 50px;
}

.title {
  font-family: 'proxima-nova';
  font-size: 30px;
}

.picture {
  margin-top: 180px;
  width: 100%;
}

.menu {
  font-family: 'proxima-nova';
  font-size: 15px;
}

.menu a {
  color: black;
  &:hover {
    color: black;
  }
}

/*Info Page*/

.info {
  font-family: 'brandon-grotesque';
  margin-top: 400px;
  margin-bottom: 400px;
}

.prox {
  font-family: 'proxima-nova';
  font-size: 20px;
}

.tools {
  font-family: proxima-nova;
  font-size: 20px;
}

/*Contact Page*/

.contact {
  font-family: 'brandon-grotesque';
  margin-top: 300px;
  margin-bottom: 400px;
}

.contact a{
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  &:hover {
    color: #5c5c5c;
  }
}

/*Footer*/

#footer {
  font-family: 'brandon-grotesque';
  padding-top: 10px;
  text-align: center;
  background-color: #eeeeee;
}